!!! 5
html
  body
    ul
      li
        a(href='/mounted') Mounted Index
      li
        a(href='/mounted/sub') Mounted Page

    block content

    dl
      dt path
      dd=path
      dt url
      dd=url
